<div>
	<table  style="width:100%">
   	 	<tr>
   	 		<td>
				 <md-input-container>
			          <label style="color:rgb(63,81,181)">Search Item Types</label>
			          <input ng-change = "ctrl.searchOther('itemTypes')" ng-model="ctrl.searchOtherKey">
		         </md-input-container>
			</td>
	    </tr>
	</table>
</div>
<div>
	<table class="table table-bordered products" style="width:100%">
	  <thead>
	  <tr>
	    <th>Item Types Name</th>
	    <th>Item Types Code</th>
	  </tr>
	  </thead>
	  <tbody>
	  	<tr ng-repeat="itemType in ctrl.itemTypeList" ng-click="ctrl.navigateToPage('EIT', itemType)">
		  	<td>{{itemType.name}}</td>
		  	<td>{{itemType.code}}</td>
	  	</tr>
	  </tbody>
	</table>
</div>
<div>
	<button type="button" style="background-color:rgb(63,81,181)" class="btn btn-primary" ng-click="ctrl.navigateToPage('AIT')">Add Item Types</button>
</div>